Raagam.MVC.TextileManagement.UI/Service References/ProductionService/Production.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Production" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" />
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.CommonUtility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduction_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IProduction_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveFabricCuttingChart_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFabricCuttingChart" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveFabricCuttingChart_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFabricCuttingChartResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_DeptPurReqPopulateDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DeptPurReqPopulateDropDown" />
  </wsdl:message>
  <wsdl:message name="IProduction_DeptPurReqPopulateDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeptPurReqPopulateDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveDepartmentPurchaseRequisition_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDepartmentPurchaseRequisition" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveDepartmentPurchaseRequisition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDepartmentPurchaseRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectDepartmentPurchaseRequisition_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDepartmentPurchaseRequisition" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectDepartmentPurchaseRequisition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDepartmentPurchaseRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_GeneralDepartmentPurReqPopulateDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneralDepartmentPurReqPopulateDropDown" />
  </wsdl:message>
  <wsdl:message name="IProduction_GeneralDepartmentPurReqPopulateDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneralDepartmentPurReqPopulateDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveGeneralDepartmentPurchaseRequisition_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGeneralDepartmentPurchaseRequisition" />
  </wsdl:message>
  <wsdl:message name="IProduction_SaveGeneralDepartmentPurchaseRequisition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGeneralDepartmentPurchaseRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectGeneralDepartmentPurchaseRequisition_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectGeneralDepartmentPurchaseRequisition" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectGeneralDepartmentPurchaseRequisition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectGeneralDepartmentPurchaseRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectProductGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductGrid" />
  </wsdl:message>
  <wsdl:message name="IProduction_SelectProductGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductGridResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduction">
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/GetOrderDetails" message="tns:IProduction_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/GetOrderDetailsResponse" message="tns:IProduction_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFabricCuttingChart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SaveFabricCuttingChart" message="tns:IProduction_SaveFabricCuttingChart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SaveFabricCuttingChartResponse" message="tns:IProduction_SaveFabricCuttingChart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeptPurReqPopulateDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/DeptPurReqPopulateDropDown" message="tns:IProduction_DeptPurReqPopulateDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/DeptPurReqPopulateDropDownResponse" message="tns:IProduction_DeptPurReqPopulateDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDepartmentPurchaseRequisition">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SaveDepartmentPurchaseRequisition" message="tns:IProduction_SaveDepartmentPurchaseRequisition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SaveDepartmentPurchaseRequisitionResponse" message="tns:IProduction_SaveDepartmentPurchaseRequisition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDepartmentPurchaseRequisition">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SelectDepartmentPurchaseRequisition" message="tns:IProduction_SelectDepartmentPurchaseRequisition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SelectDepartmentPurchaseRequisitionResponse" message="tns:IProduction_SelectDepartmentPurchaseRequisition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneralDepartmentPurReqPopulateDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/GeneralDepartmentPurReqPopulateDropDown" message="tns:IProduction_GeneralDepartmentPurReqPopulateDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/GeneralDepartmentPurReqPopulateDropDownResponse" message="tns:IProduction_GeneralDepartmentPurReqPopulateDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGeneralDepartmentPurchaseRequisition">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SaveGeneralDepartmentPurchaseRequisition" message="tns:IProduction_SaveGeneralDepartmentPurchaseRequisition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SaveGeneralDepartmentPurchaseRequisitionResponse" message="tns:IProduction_SaveGeneralDepartmentPurchaseRequisition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectGeneralDepartmentPurchaseRequisition">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SelectGeneralDepartmentPurchaseRequisition" message="tns:IProduction_SelectGeneralDepartmentPurchaseRequisition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SelectGeneralDepartmentPurchaseRequisitionResponse" message="tns:IProduction_SelectGeneralDepartmentPurchaseRequisition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduction/SelectProductGrid" message="tns:IProduction_SelectProductGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduction/SelectProductGridResponse" message="tns:IProduction_SelectProductGrid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduction" type="tns:IProduction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IProduction/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFabricCuttingChart">
      <soap:operation soapAction="http://tempuri.org/IProduction/SaveFabricCuttingChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeptPurReqPopulateDropDown">
      <soap:operation soapAction="http://tempuri.org/IProduction/DeptPurReqPopulateDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepartmentPurchaseRequisition">
      <soap:operation soapAction="http://tempuri.org/IProduction/SaveDepartmentPurchaseRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDepartmentPurchaseRequisition">
      <soap:operation soapAction="http://tempuri.org/IProduction/SelectDepartmentPurchaseRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralDepartmentPurReqPopulateDropDown">
      <soap:operation soapAction="http://tempuri.org/IProduction/GeneralDepartmentPurReqPopulateDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGeneralDepartmentPurchaseRequisition">
      <soap:operation soapAction="http://tempuri.org/IProduction/SaveGeneralDepartmentPurchaseRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGeneralDepartmentPurchaseRequisition">
      <soap:operation soapAction="http://tempuri.org/IProduction/SelectGeneralDepartmentPurchaseRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductGrid">
      <soap:operation soapAction="http://tempuri.org/IProduction/SelectProductGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Production">
    <wsdl:port name="BasicHttpBinding_IProduction" binding="tns:BasicHttpBinding_IProduction">
      <soap:address location="http://localhost:26976/Production/Implementation/Production.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>