Raagam.MVC.TextileManagement.UI/Service References/ProductionService/Production.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26976/Production/Implementation/Production.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FabricCuttingChartModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyerDropDownList" nillable="true" type="tns:ArrayOfDropDownModel" />
      <xs:element minOccurs="0" name="BuyerReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FabricLinkDropDownList" nillable="true" type="tns:ArrayOfLinkDropDownModel" />
      <xs:element minOccurs="0" name="FabricSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="KnitDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="KnitGSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoopLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:long" />
      <xs:element minOccurs="0" name="OrderQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="PanelLinkDropDownList" nillable="true" type="tns:ArrayOfLinkDropDownModel" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PanelSelectedList" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="Pieces" type="xs:decimal" />
      <xs:element minOccurs="0" name="StyleDropDownList" nillable="true" type="tns:ArrayOfDropDownModel" />
      <xs:element minOccurs="0" name="StyleSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StyleSizeLinkDropDownList" nillable="true" type="tns:ArrayOfLinkDropDownModel" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StyleSizeSelectedList" nillable="true" type="q2:ArrayOflong" />
      <xs:element minOccurs="0" name="TableDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="fabricCuttingChartDetailList" nillable="true" type="tns:ArrayOfFabricCuttingChartDetailModel" />
      <xs:element minOccurs="0" name="fabricCuttingChartMainList" nillable="true" type="tns:ArrayOfFabricCuttingChartMainModel" />
      <xs:element minOccurs="0" name="orderDetailsModelList" nillable="true" type="tns:ArrayOfFabricCuttingChartOrderDetailsModel" />
      <xs:element minOccurs="0" name="panelColorModelList" nillable="true" type="tns:ArrayOfFabricCuttingChartPanelColorModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricCuttingChartModel" nillable="true" type="tns:FabricCuttingChartModel" />
  <xs:complexType name="ArrayOfDropDownModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropDownModel" nillable="true" type="tns:DropDownModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropDownModel" nillable="true" type="tns:ArrayOfDropDownModel" />
  <xs:complexType name="DropDownModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropDownModel" nillable="true" type="tns:DropDownModel" />
  <xs:complexType name="ArrayOfLinkDropDownModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkDropDownModel" nillable="true" type="tns:LinkDropDownModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinkDropDownModel" nillable="true" type="tns:ArrayOfLinkDropDownModel" />
  <xs:complexType name="LinkDropDownModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForeignKey" type="xs:long" />
      <xs:element minOccurs="0" name="Key" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkDropDownModel" nillable="true" type="tns:LinkDropDownModel" />
  <xs:complexType name="ArrayOfFabricCuttingChartDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FabricCuttingChartDetailModel" nillable="true" type="tns:FabricCuttingChartDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabricCuttingChartDetailModel" nillable="true" type="tns:ArrayOfFabricCuttingChartDetailModel" />
  <xs:complexType name="FabricCuttingChartDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabricCuttingChartMainSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="PanelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StylePanelSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="TempGUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricCuttingChartDetailModel" nillable="true" type="tns:FabricCuttingChartDetailModel" />
  <xs:complexType name="ArrayOfFabricCuttingChartMainModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FabricCuttingChartMainModel" nillable="true" type="tns:FabricCuttingChartMainModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabricCuttingChartMainModel" nillable="true" type="tns:ArrayOfFabricCuttingChartMainModel" />
  <xs:complexType name="FabricCuttingChartMainModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnitDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="KnitGSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoopLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Pieces" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="SizeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleColorSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StyleFabricSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StylePanelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleSizeSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="TableDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="TempGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="WastagePercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricCuttingChartMainModel" nillable="true" type="tns:FabricCuttingChartMainModel" />
  <xs:complexType name="ArrayOfFabricCuttingChartOrderDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FabricCuttingChartOrderDetailsModel" nillable="true" type="tns:FabricCuttingChartOrderDetailsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabricCuttingChartOrderDetailsModel" nillable="true" type="tns:ArrayOfFabricCuttingChartOrderDetailsModel" />
  <xs:complexType name="FabricCuttingChartOrderDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderExcessQty" type="xs:int" />
      <xs:element minOccurs="0" name="SizeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StyleSizeSequenceNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricCuttingChartOrderDetailsModel" nillable="true" type="tns:FabricCuttingChartOrderDetailsModel" />
  <xs:complexType name="ArrayOfFabricCuttingChartPanelColorModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FabricCuttingChartPanelColorModel" nillable="true" type="tns:FabricCuttingChartPanelColorModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabricCuttingChartPanelColorModel" nillable="true" type="tns:ArrayOfFabricCuttingChartPanelColorModel" />
  <xs:complexType name="FabricCuttingChartPanelColorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderExcessQty" type="xs:int" />
      <xs:element minOccurs="0" name="SizeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleColorSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StylePanelSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StyleSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="StyleSizeSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="TempGUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricCuttingChartPanelColorModel" nillable="true" type="tns:FabricCuttingChartPanelColorModel" />
</xs:schema>