Raagam.MVC.TextileManagement.UI/Service References/CommonService/Common2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26976/Common/Implementation/Common.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" />
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="loginModel" nillable="true" type="q1:LoginModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="CheckLoginResult" nillable="true" type="q2:LoginModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>