Raagam.MVC.TextileManagement.UI/Service References/MerchandiserService/Merchandiser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Merchandiser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" />
      <xsd:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
      <xsd:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.CommonUtility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMerchandiser_PopulateDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateDropDown" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_PopulateDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_SelectColorSize_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectColorSize" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_SelectColorSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectColorSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_StylePopulateDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:StylePopulateDropDown" />
  </wsdl:message>
  <wsdl:message name="IMerchandiser_StylePopulateDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:StylePopulateDropDownResponse" />
  </wsdl:message>
  <wsdl:portType name="IMerchandiser">
    <wsdl:operation name="PopulateDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchandiser/PopulateDropDown" message="tns:IMerchandiser_PopulateDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchandiser/PopulateDropDownResponse" message="tns:IMerchandiser_PopulateDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectColorSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchandiser/SelectColorSize" message="tns:IMerchandiser_SelectColorSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchandiser/SelectColorSizeResponse" message="tns:IMerchandiser_SelectColorSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchandiser/SaveOrder" message="tns:IMerchandiser_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchandiser/SaveOrderResponse" message="tns:IMerchandiser_SaveOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchandiser/GetOrderDetails" message="tns:IMerchandiser_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchandiser/GetOrderDetailsResponse" message="tns:IMerchandiser_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StylePopulateDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchandiser/StylePopulateDropDown" message="tns:IMerchandiser_StylePopulateDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchandiser/StylePopulateDropDownResponse" message="tns:IMerchandiser_StylePopulateDropDown_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMerchandiser" type="tns:IMerchandiser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateDropDown">
      <soap:operation soapAction="http://tempuri.org/IMerchandiser/PopulateDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectColorSize">
      <soap:operation soapAction="http://tempuri.org/IMerchandiser/SelectColorSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/IMerchandiser/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IMerchandiser/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StylePopulateDropDown">
      <soap:operation soapAction="http://tempuri.org/IMerchandiser/StylePopulateDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Merchandiser">
    <wsdl:port name="BasicHttpBinding_IMerchandiser" binding="tns:BasicHttpBinding_IMerchandiser">
      <soap:address location="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>