Raagam.MVC.TextileManagement.UI/Service References/MerchandiserService/Merchandiser2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" />
  <xs:element name="PopulateDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="orderMainModel" nillable="true" type="q1:OrderMainModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="PopulateDropDownResult" nillable="true" type="q2:OrderMainModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectColorSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StyleSequenceNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectColorSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="SelectColorSizeResult" nillable="true" type="q3:OrderMainModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>