Raagam.MVC.TextileManagement.UI/Service References/MerchandiserService/Merchandiser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26976/Merchandiser/Implementation/Merchandiser.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="OrderMainModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="BuyerDropDownList" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="BuyerReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExcessPercentage" type="xs:int" />
      <xs:element minOccurs="0" name="ExcessQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:long" />
      <xs:element minOccurs="0" name="OrderQuantity" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="StyleDropDownList" nillable="true" type="q2:ArrayOfSelectListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderMainModel" nillable="true" type="tns:OrderMainModel" />
</xs:schema>