Raagam.MVC.TextileManagement.UI/Service References/InventoryService/Inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26976/Inventory/Implementation/Inventory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" />
  <xs:element name="PurReqPopulateDropDown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurReqPopulateDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="PurReqPopulateDropDownResult" nillable="true" type="q1:PurchaseRequisitionHeaderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="purchaseRequisitionHeaderModel" nillable="true" type="q2:PurchaseRequisitionHeaderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="SavePurchaseRequisitionResult" nillable="true" type="q3:PurchaseRequisitionHeaderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseRequisitionNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Raagam.TextileManagement.Model" minOccurs="0" name="SelectPurchaseRequisitionResult" nillable="true" type="q4:PurchaseRequisitionHeaderModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>