Raagam.MVC.TextileManagement.UI/Service References/InventoryService/Inventory4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.Mvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSelectListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectListItem" nillable="true" type="tns:SelectListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectListItem" nillable="true" type="tns:ArrayOfSelectListItem" />
  <xs:complexType name="SelectListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectListItem" nillable="true" type="tns:SelectListItem" />
</xs:schema>